@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&family=Red+Hat+Mono&display=swap');

/************ BASIC CSS ************/

:root {
    --primary: rgb(1, 1, 78);
    --body: rgb(1, 1, 40);
    --secondary: #c9abab;
    --accent: #ffba6b;
    --dark: #aa6767;
    --error: #a73c06;
    --lightBackground: #EDEDED;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    color: #E8E8E8;
}

body {
    margin: 0;
    background-color: var(--body);
}

.footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 12px 0px;
    text-align: center;
    margin-top: 50px;
}

.header {
    background-color: var(--primary);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 24px 10px;
    box-sizing: border-box;
    border-bottom: 2px solid var(--accent);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.383);
}

.titleLink {
    color: var(--secondary);
    text-decoration: none;
    font-size: 42px;
    letter-spacing: 1.1px;
}

.titleLink:visited {
    color: var(--secondary);
}

.headerItem {
    width: 200px;
    align-self: center;
    text-decoration: none;
    color: var(--lightBackground);
}

.loginLink {
    text-align: right;
    margin-right: 12px;
    font-size: 18px;
}

#homeLink {
    text-align: left;
    margin-left: 12px;
    font-size: 18px;
}

.headerItem:visited {
    color: var(--lightBackground);
}

.inputBox {
    border-radius: 72px;
    height: 54px;
    width: 400px;
    font-size: 28px;
    padding-left: 20px;
    border: none;
    color: var(--primary);
}

.inputBox:focus {
    outline: 2px solid var(--accent);
    border: none;
}

.formClass {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 700px;
    align-items: center;
    align-content: space-between;
}

.formClass * {
    margin-top: 20px;
}

.subheader,
.loginHeader {
    font-size: 32px;
    text-align: center;
    margin: 4px auto;
    color: var(--secondary);
}

.loginHeader {
    color: var(--primary);
}

button {
    background-color: var(--secondary);
    border-radius: 36px;
    text-align: center;
    box-shadow: 2px 2px 2px rgb(128 128 128 / 43%);
    font-size: 20px;
    padding: 6px 12px;
    width: 127px;
    height: 55px;
    border: none;
    color: var(--primary);
}

button:hover {
    filter: brightness(80%);
    cursor: pointer;
    box-shadow: 3px 3px 4px rgba(128, 128, 128, 0.683);
}

button:active {
    filter: brightness(60%);
    box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.859);
}

label {
    color: var(--primary);
}

.littleLink {
    color: var(--dark);
    margin-top: 14px;
    display: block;
    font-size: 16px;
}

.littleLink:visited {
    color: var(--primary);
}


/************ HOME PAGE CSS ************/

#mainDescription {
    width: 100%;
    height: 600px;
    position: relative;
}

#homeImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: bottom;
    filter: brightness(40%) grayscale(70%);
}

#mainDescription article p {
    font-size: 32px;
    margin: 0px auto;
    position: absolute;
    animation-timing-function: ease-out;
    font-weight: 1.2;
}

#mainDescription article p:first-child {
    top: 100px;
    left: 80px;
    animation-name: fromLeft;
    animation-duration: 2s;
}

#mainDescription article p:nth-child(2) {
    top: 300px;
    right: 80px;
    animation-name: fromRightFar;
    animation-duration: 4.5s;
}

#mainDescription article p:nth-child(3) {
    top: 400px;
    left: 80px;
    animation-name: fromLeftFarther;
    animation-duration: 7s;
    color: var(--accent);
}

#startForm {
    height: 300px;
    margin-top: 100px;
}


/************ HOME PAGE ANIMATIONS ************/

@keyframes fromLeft {
    to {
        left: 80px;
    }
    from {
        left: -3000px;
    }
}

@keyframes fromRightFar {
    to {
        right: 80px;
    }
    from {
        right: -6000px;
    }
}

@keyframes fromLeftFarther {
    to {
        left: 80px;
    }
    from {
        left: -8000px;
    }
}


/************ LOGIN CSS ************/

#loginSection {
    background-color: var(--lightBackground);
    width: 350px;
    height: fit-content;
    z-index: 100;
    padding: 20px;
    border-radius: 8px;
    outline-offset: 2px;
    outline: 2px solid var(--secondary);
    position: relative;
}

.accountForm {
    width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.accountForm button {
    margin: auto;
}

.accountForm input {
    margin: 8px 0px;
    border-radius: 4px;
    height: 24px;
    border: 1px solid var(--body);
}

.accountForm input:focus {
    outline: 2px solid var(--dark);
    border: none;
}

#loginBtn {
    background: none;
    box-shadow: none;
    width: fit-content;
    color: var(--secondary);
}

#fullCover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    position: fixed;
    animation-name: gradualShow;
    animation-duration: .5s;
}

@keyframes gradualShow {
    to {
        opacity: 100;
    }
    from {
        opacity: 0;
    }
}

#closeLoginBtn {
    width: fit-content;
    height: fit-content;
    border-radius: 100%;
    position: absolute;
    font-size: 19px;
    padding: 1px 8px;
    left: 6px;
    top: 9px;
}

.errorMessage {
    color: var(--error);
    text-align: center;
    width: 200px;
    margin: 4px auto 12px auto;
}