@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&family=Red+Hat+Mono&display=swap');

/************ BASIC CSS ************/

:root {
    --primary: rgb(1, 1, 78);
    --body: rgb(1, 1, 40);
    --secondary: #c9abab;
    --accent: #ffba6b;
    --dark: #aa6767;
    --error: #a73c06;
    --lightBackground: #EDEDED;
    --veryDark: #925e5e;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    color: #E8E8E8;
}

body {
    margin: 0;
    background-color: var(--body);
}

.footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 12px 0px;
    text-align: center;
    margin-top: 200px;
}

.header {
    background-color: var(--primary);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 24px 10px;
    box-sizing: border-box;
    border-bottom: 2px solid var(--accent);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.383);
}

.titleLink {
    color: var(--secondary);
    text-decoration: none;
    font-size: 42px;
    letter-spacing: 1.1px;
}

.titleLink:visited {
    color: var(--secondary);
}

.headerItem {
    width: 200px;
    align-self: center;
    text-decoration: none;
    color: var(--lightBackground);
}

.loginLink {
    text-align: right;
    margin-right: 12px;
    font-size: 18px;
}

#homeLink {
    text-align: left;
    margin-left: 12px;
    font-size: 18px;
}

.headerItem:visited {
    color: var(--lightBackground);
}

.inputBox {
    border-radius: 72px;
    height: 54px;
    width: 400px;
    font-size: 28px;
    padding-left: 20px;
    border: none;
    color: var(--primary);
}

.inputBox:focus {
    outline: 2px solid var(--accent);
    border: none;
}

.formClass {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 700px;
    align-items: center;
    align-content: space-between;
}

.formClass * {
    margin-top: 20px;
}

.loggedInMenu {
    background-color: var(--veryDark);
    font-size: 32px;
    width: 44px;
    height: 44px;
    letter-spacing: -10px;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-right: 150px;
    padding: 0px 10px 0px 0px;
    box-shadow: none;
}

.loggedInMenu:hover {
    box-shadow: none;
}

.loggedInMenu:active {
    box-shadow: none;
}

.profileIcon {
    background-color: var(--veryDark);
    font-size: 24px;
    width: 44px;
    height: 44px;
    text-align: center;
    padding: 0px;
    border-radius: 100%;
    outline: 2px solid var(--veryDark);
    outline-offset: 4px;
    box-sizing: border-box;
    position: absolute;
    right: 12px;
    object-fit: cover;
}

.reviewIcon {
    position: static;
    width: 22px;
    height: 22px;
}

.reviewBox {
    list-style: none;
    border: 1px solid var(--accent);
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
}

.reviewerName {
    margin-left: 14px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.reviewHeader {
    text-align: center;
    font-size: 24px;
}

.bigHeader {
    font-size: 32px;
}

.accountCard {
    color: white;
}

.accountCard a {
    color: white;
    text-decoration: none;
}

.accountCard {
    position: relative;
    min-height: 250px;
}

.searchImg h4 {
    font-size: 20px;
    color: var(--secondary);
}

.accountCard a:visited {
    color: white;
    text-decoration: none;
}

.accountCard a:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.accountCard a:active {
    cursor: pointer;
    filter: brightness(60%);
}

.thumbnail {
    width: 20px;
    position: absolute;
}

.thumbnail:hover {
    width: 200px;
    left: 300px;
    top: 0px;
}

.updateReviewBtn {
    margin-bottom: 30px;
}

.showName {
    position: relative;
    left: 28px;
    top: 10px;
}

.accountCard li {
    margin-bottom: 20px;
}

.reviewForm {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 24px;
}

.reviewForm button {
    margin-top: 20px;
}

.reviewForm textarea {
    max-width: 600px;
    min-height: 100px;
    margin-top: 8px;
    max-height: 200px;
}

.reviewForm label {
    margin-top: 8px;
}

.miniTitle {
    text-align: center;
    font-size: 20px;
}

.reviewLayout {
    display: flex !important;
    flex-direction: column;
}

.profileInitials {
    padding: 13px 0px;
    top: -20px;
}

.profileIcon:hover {
    filter: brightness(85%);
    cursor: pointer;
}

.profileIcon:active {
    filter: brightness(75%);
}

.iconHolder {
    position: relative;
    height: 50px;
}

.subheader,
.loginHeader {
    font-size: 32px;
    text-align: center;
    color: var(--lightBackground);
}

.subheader {
    margin: 24px auto;
}

.loginHeader {
    color: var(--primary);
    margin: 12px auto;
}

button {
    background-color: var(--secondary);
    border-radius: 36px;
    text-align: center;
    box-shadow: 2px 2px 2px rgb(128 128 128 / 43%);
    font-size: 20px;
    padding: 6px 12px;
    width: 127px;
    height: 55px;
    border: none;
    color: var(--primary);
}

button:hover {
    filter: brightness(80%);
    cursor: pointer;
    box-shadow: 3px 3px 4px rgba(128, 128, 128, 0.683);
}

button:active {
    filter: brightness(60%);
    box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.859);
}

label {
    color: var(--secondary);
}

.littleLink {
    color: var(--dark);
    margin: 14px auto;
    display: block;
    font-size: 16px;
    text-align: center;
    background-color: none;
    width: fit-content;
    text-decoration: underline;
    background: none;
    box-shadow: none;
}

.littleLink:hover {
    box-shadow: none;
    filter: brightness(70%);
    cursor: pointer;
}


/************ HOME PAGE CSS ************/

#mainDescription {
    width: 100%;
    height: 600px;
    position: relative;
}

#homeImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: bottom;
    filter: brightness(30%) grayscale(80%);
}

#mainDescription article p {
    font-size: 32px;
    margin: 0px auto;
    position: absolute;
    animation-timing-function: ease-out;
    font-weight: 1.2;
}

#mainDescription article p:first-child {
    top: 100px;
    left: 80px;
    animation-name: fromLeft;
    animation-duration: 2s;
}

#mainDescription article p:nth-child(2) {
    top: 300px;
    right: 80px;
    animation-name: fromRightFar;
    animation-duration: 4s;
}

#mainDescription article p:nth-child(3) {
    top: 400px;
    left: 80px;
    animation-name: fromLeftFarther;
    animation-duration: 6s;
    color: var(--accent);
}

#startForm {
    height: 300px;
    margin-top: 100px;
}


/************ HOME PAGE ANIMATIONS ************/

@keyframes fromLeft {
    to {
        opacity: 100%;
    }
    from {
        opacity: 0%;
    }
}

@keyframes fromRightFar {
    to {
        opacity: 100%;
    }
    60% {
        opacity: 0%;
    }
    from {
        opacity: 0%;
    }
}

@keyframes fromLeftFarther {
    to {
        opacity: 100%;
    }
    75% {
        opacity: 0%;
    }
    from {
        opacity: 0%;
    }
}


/************ LOGIN CSS ************/

#loginSection {
    background-color: var(--lightBackground);
    width: 350px;
    height: fit-content;
    z-index: 100;
    padding: 20px;
    border-radius: 8px;
    outline-offset: 2px;
    outline: 2px solid var(--secondary);
    position: relative;
}

.accountForm {
    width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.accountForm button {
    margin: auto;
}

.accountForm input {
    margin: 8px 0px;
    border-radius: 4px;
    height: 24px;
    border: 1px solid var(--body);
}

.accountForm input:focus {
    outline: 2px solid var(--dark);
    border: none;
}

#loginBtn {
    background: none;
    box-shadow: none;
    width: 200px;
    color: var(--secondary);
}

#fullCover,
.modalBackground {
    width: 100%;
    height: 150vh;
    background-color: rgba(0, 0, 0, 0.697);
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: gradualShow;
    animation-duration: .5s;
}

@keyframes gradualShow {
    to {
        opacity: 100;
    }
    from {
        opacity: 0;
    }
}

#closeLoginBtn {
    width: fit-content;
    height: fit-content;
    border-radius: 100%;
    position: absolute;
    font-size: 19px;
    padding: 1px 8px;
    left: 6px;
    top: 9px;
}

.errorMessage {
    color: var(--error);
    text-align: center;
    margin: 4px auto 12px auto;
}

#loginForm label {
    color: var(--primary);
}

#fileChooser:hover {
    filter: brightness(80%);
    cursor: pointer;
}

#fileChoose:active {
    filter: brightness(70%);
}

.horizontalFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.editSection {
    max-width: 500px;
    margin: auto;
}

.editSection button {
    margin-top: 20px;
    font-size: 16px;
}

.editSection p {
    font-weight: bold;
}

.verticalFlex {
    display: flex;
    flex-direction: column;
}

.editable input {
    width: 300px;
    margin-bottom: 12px;
    margin-top: 4px;
}

#imgSelector {
    height: 312px;
    width: 330px;
    box-sizing: border-box;
    padding: 2px;
    overflow-y: scroll;
    background-color: var(--lightBackground);
    outline-offset: 4px;
    outline: 2px solid var(--lightBackground);
    position: relative;
    top: 12px;
}

#imgSelector button,
#imgSelector img {
    background-color: transparent;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 0px;
    padding: 0px;
}

#imgSelector img {
    margin: 0px;
}

#imgSelector button {
    margin: 2px;
}

#imgSelector img:hover {
    cursor: pointer;
    filter: brightness(90%);
}

#imgSelector img:active {
    filter: brightness(85%);
}

#imgSelector button:focus {
    filter: brightness(50%);
    outline: 2px solid var(--secondary);
    outline-offset: 1px;
    border: none;
}

.picPreview {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    outline: 2px solid var(--secondary);
    outline-offset: 4px;
    margin-top: 8px;
    margin-left: 8px;
}

.chosenPicSection {
    display: flex;
    flex-direction: column;
}

.smallMenu {
    background-color: var(--lightBackground);
    height: fit-content;
    width: 140px;
    position: absolute;
    right: 14px;
    top: 80px;
    color: var(--body);
    outline: 2px solid var(--secondary);
    outline-offset: 2px;
    border-radius: 4px;
    z-index: 100;
}

.smallMenu a {
    padding: 6px;
    background-color: var(--lightBackground);
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-decoration: none;
}

.smallMenu a:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.sideMenu {
    background-color: var(--lightBackground);
    height: 100%;
    width: 240px;
    position: absolute;
    left: 4px;
    top: 80px;
    color: var(--body);
    outline: 2px solid var(--secondary);
    outline-offset: 2px;
    border-radius: 4px;
    z-index: 100;
    animation-name: slideIn;
    animation-duration: 0.3s;
}

.sideMenu a {
    padding: 6px;
    background-color: var(--lightBackground);
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    margin-bottom: 14px;
}

.sideMenu a:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.sideMenu a:visited {
    color: var(--body);
}

.menuHeader {
    font-size: 30px;
    text-align: center;
}

@keyframes slideIn {
    from {
        left: -260px;
    }
    to {
        left: 4px;
    }
}

.noStyle {
    margin: 0;
    padding: 0;
}

.showName {
    grid-row: header;
    grid-column-start: details;
    grid-column-end: 3;
}

.showImg {
    grid-row: body;
    grid-column: image;
    max-width: 300px;
    justify-self: center;
}

.showImg img {
    box-shadow: 2px 2px 10px rgba(60, 60, 60, 0.188);
}

.showDetails {
    grid-row: body;
    grid-column: details;
    font-family: lato, ubuntu, sans-serif;
}

.showDetails dt {
    font-weight: bold;
    font-size: 20px;
}

.showDetails dd {
    margin-bottom: 12px;
}

.showDetails dd ul {
    margin-bottom: 12px;
    display: inline;
}

.cardLayout {
    margin: 40px auto;
    border: 1px solid var(--secondary);
    border-radius: 24px;
    box-sizing: border-box;
    padding: 12px;
    display: grid;
    grid-template-rows: [header] auto [subheader] auto [body] auto;
    grid-template-columns: [details] 60% [image] 40%;
    max-width: 800px;
    height: fit-content;
}

.cardLayoutImgRight {
    margin: 40px auto;
    border: 1px solid var(--secondary);
    border-radius: 24px;
    box-sizing: border-box;
    padding: 12px;
    display: grid;
    grid-template-rows: [header] auto [body] auto;
    grid-template-columns: [image] 40% [details] 60%;
    max-width: 800px;
    height: fit-content;
}

.showSubheader {
    grid-row: subheader;
    grid-column-start: details;
    grid-column-end: 3;
    text-align: center;
    font-size: 18px;
    margin: 0px auto 12px auto;
}

.searchResults {
    width: 550px;
    font-family: lato, ubuntu, sans-serif;
    margin: 40px auto 20px auto;
    position: relative;
    min-height: 280px;
}

.bigSearch {
    min-height: 380px;
}

.searchLink {
    line-height: 30px;
    color: var(--secondary);
    width: 400px;
    grid-column-start: auto span 2;
}

.searchLink:visited {
    color: var(--primary);
}

.searchLink:hover {
    cursor: pointer;
}

.searchLink:hover+.searchImg {
    opacity: 100%;
    cursor: pointer;
}

.searchResults ul,
.searchResults p {
    grid-column-start: image;
    grid-column-end: 3;
    grid-row-start: header;
    grid-row-end: 3;
}

.searchImg {
    max-width: 120px;
    opacity: 0%;
    position: absolute;
    right: 60px;
    top: 20px;
    height: fit-content;
}

.searchImg img {
    max-width: 120px;
}

.noResults {
    text-align: center;
    font-size: 16px;
}

.popupModal {
    width: 500px;
    height: 200px;
    background-color: var(--primary);
    padding: 32px;
    box-sizing: border-box;
    outline: 2px solid var(--secondary);
    outline-offset: 4px;
    border: 2px solid var(--secondary);
    border-radius: 12px;
    margin: 120px auto;
    text-align: center;
}

.mediumModal {
    height: 230px;
    width: 575px;
    line-height: 1.5;
}

#smallSearch {
    font-size: 16px;
    height: 32px;
    width: 300px;
}

.smallBtn {
    font-size: 16px;
    height: 32px;
    width: 100px;
}

.topModalSection {
    z-index: 100;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

.bigModal {
    height: 500px;
    width: 700px;
    overflow-y: scroll;
}

.accountForm textarea {
    min-height: 200px;
    margin-bottom: 20px;
}

.popupModal h3 {
    font-size: 22px;
}

.svgImg {
    position: relative;
    top: 4px;
    padding: 0px 6px;
}

.svgImg:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.svgImg:active {
    filter: brightness(65%);
}

.card {
    border: 1px solid var(--accent);
    border-radius: .25rem;
    position: relative;
    height: 430px;
}

.content {
    padding: 15px;
    text-align: center;
}

.allshowbutton {
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .25rem;
    width: 150px;
    font-size: 14px;
    position: absolute;
    bottom: 8px;
    right: 50%;
    margin-right: -75px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.covers {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.is-hidden {
    display: none;
}

#searchbox {
    margin: 48px auto;
    width: 600px;
    font-size: 25px;
    display: block;
}