{{#if shows.length}}
<input type="search" oninput="live()" id="searchbox" placeholder="Search for shows..">
<div class = "grid-container">  
        {{#each shows}}
        <div class="card">
                <img class = "covers" src={{this.image}} alt="Avatar">
                <div id = "content" class="content">
                    <h4 class = "titlename"><b>{{this.name}}</b></h4>
                    <p id = "genrename">{{this.genres}}</p>
                    <button class = "allshowbutton"  onclick = "location.href = 'http://localhost:3000/shows/view/{{this._id}}'">Read more...</button>
                </div>        
        </div>
        {{/each}}
    </div>
{{/if}} 
