{{#if shows.length}}
<section class = "chips">  
    <div class="row">
        {{#each shows}}
        <div class="column">
            <div class="card">
                <img src={{this.image}} alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>{{this.name}}</b></h4>
                    <p>{{this.genres}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
{{/if}}
</section>