<section id="mainDescription">
    <img id='homeImg' src="https://images.pexels.com/photos/5721871/pexels-photo-5721871.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt='A TV sitting by a brick wall'/>
    <article>
        <p>Tired of staring at your TV for hours just trying to figure out what to watch?</p>
        <p>Welcome to What2Watch.</p>
        <p>We guarantee you'll never have that problem again...</p>
    </article>
</section>


<section id="startForm">
    <form action='/shows/search' method='POST' id="homeSearch" class="formClass">
        <label for='searchTerm' class="subheader">
            Search for a show to get started!
        </label>

        <input type='text' placeholder='Search' name='searchTerm' id='searchTerm' class='inputBox' />
        <button type="submit">Search!</button>
        <p id='editError' class="errorMessage" hidden></p>
    </form>
</section>

