<h2 class="loginHeader">Login</h2>
<form name="myForm" class='login-form' action="/account/checkAccount" method="post" id="form">
    {{#if error}}
        <p class="errorMessage">{{error}}</p>
    {{/if}}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required="required" minlength="5">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required="required" minlength="5">
    <button type="submit">Login</button>
</form>

<a href="/account/create" class="littleLink">No account? Make one today!</a>