<section id="startForm">
    <form action='/shows/search' method='POST' id="homeSearch" class="formClass">
        <label for='searchTerm' class="subheader">
            Search for a show to get started!
        </label>

        <input type='text' placeholder='Search' name='searchTerm' id='searchTerm' class='inputBox' />
        <button type="submit">Search!</button>
    </form>
</section>
<p id='editError' class="errorMessage" hidden></p>