<h2 class="subheader">Uh Oh...</h2>
<p class="messageText">You are offline. Please check your internet connection and try again later. </p>
<a href="/shows/search" class="bigLink clickable">In the mean time, click here to search for a show in our offline database!</a>